<div id="spiderkites-colorizer">
    <div id="kite-template" class="row m-3" style="margin: 1rem;">

        <div id="kite" class="col">
            <%= require("./../../svg/product.svg") %>
        </div>

    </div>

    <div class="row m-3" style="margin: 1rem;">
        <div class="col">
            <div id="product-actions" class="btn-group btn-group-md product-actions hidden-print" role="group">
                <button onclick='fileDownload()' class="btn btn-default btn-secondary">Download</button>
                <button id="clear-btn" class="btn btn-default btn-secondary">Clear</button>
            </div>
           
        </div>
    </div>

    <div id="color-palet" class="row m-3" style="user-select: none; margin: 1rem;">
        <div class="col">
            <%= require("./../../svg/color.svg") %>
        </div>
    </div>

</div>