<div id="spiderkites-colorizer">
    <div id="kite-template" class="row m-3" style="margin: 1rem;">

        <div id="kite" class="col">
            <%= require("./../../svg/product.svg") %>
        </div>

    </div>

    <div class="row m-3" style="margin: 1rem;">
        <div class="col">
            <button onclick='fileDownload()' class="btn btn-default btn-secondary">Save</button>
        </div>
    </div>

    <div id="color-palet" class="row m-3" style="user-select: none; margin: 1rem;">
        <div class="col">
            <%= require("./../../svg/color.svg") %>
        </div>
    </div>

</div>