/*
 * Platz für eigene Änderungen direkt als CSS
 * Die hier gemachten Änderungen überschreiben ggfs. andere Styles, da diese Datei als letzte geladen wird.
 */

h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
    line-height: 1.1;
    padding-bottom: 5px;
    margin-bottom: 30px;
    font-family: "Open Sans", Helvetica, Arial, sans-serif;
    color: #313131;
    font-weight: 400;
}

.price {
    font-size: 18px;
    font-family: "Open Sans", Helvetica, Arial, sans-serif;
}

.text-muted {
    color: #2c2c2c;
}

.navbar-default .navbar-nav>li>a {
    color: #000;
}

.cart-menu>.dropdown-toggle>.badge, .action-nav>li>a>.badge{
	position: unset !important;
	margin-left: 2px;
}

.cart-menu>.dropdown-toggle>.badge>em, .action-nav>li>a>.badge>em {
	font-style: normal;
}

