:host {
    flex-direction: column;
    display: flex;
    padding: 16px;

    .actions{
        flex-direction: row;
        button {
            margin-right: 16px;
        }
        
    }

    .template-output {
        margin: 16px 0;
    }

}