<div id="spiderkites-colorizer">
    <div id="product" class="row m-3" style="margin: 1rem;">

        <div  class="col">
            <%= require("./../../svg/product.svg") %>
        </div>

    </div>

    <div class="row m-3" style="margin: 1rem;">
        <div class="col">
            <div id="product-actions" class="btn-group btn-group-md product-actions hidden-print" role="group">
                <button id="download-btn" class="btn btn-default btn-secondary">
                    <span class="fa fa-download"></span>
                    <span id="download-btn-text" class="hidden-sm">DOWNLOAD</span>  
                </button>
                <button id="clear-btn" class="btn btn-default btn-secondary">
                    <span class="fa fa-undo"></span>
                    <span id="clear-btn-text" class="hidden-sm">CLEAR</span>
                </button>
                <label id="symmetrical-checkbox-text" class="btn btn-default btn-secondary" style="margin-bottom: unset;">
                    <input id="symmetrical-checkbox" type="checkbox">SYMMETRICAL
                </label>
            </div>

        </div>
    </div>

    <div id="color-palet" class="row m-3" style="user-select: none; margin: 1rem;">
        <div class="col">
            <%= require("./../../svg/color.svg") %>
        </div>
    </div>

</div>